.example-card {
    padding: 24px; /* Adds spacing inside the card */
  }
  
  .custom-container {
    display: flex;
    align-items: flex-start; /* Aligns items at the top */
  }

// .custom-img {
//     width: 250px; /* Set a fixed width */
//     height: auto; /* Automatically adjust height to keep aspect ratio */
//     object-fit: cover; /* Ensures the image fills the area properly */
//     border-radius: 16px; /* Optional for rounded corners */
//   }
  
//   .custom-text-content {
//     display: flex;
//     flex-direction: column; /* Stack title, subtitle, and content */
//     justify-content: flex-start;
//     flex: 1; /* Allow content to take remaining space */
//   }



  .example-button-container {
    display: flex;
    justify-content: center; /* Centers the button */
    width: 140px; /* Sets button container width */
  }
  
  .example-button-container button {
    background-color: rgba(215, 25, 25, 0.779) !important; 
    color: white !important;
  }

  .custom-actions {
    display: flex;
    justify-content: flex-end; /* Align button to the right */
    margin-top: auto; /* Push button to the bottom without adding extra space */
    // margin-bottom: 0;
  }

  .custom-img {
    width: 350px; /* Fixed width */
    height: auto; /* Keep aspect ratio */
    margin-right: 24px; /* Increased spacing between image and text */
    border-radius: 8px;
  }
  
  .custom-text-content {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
    padding-left: 8px; /* Adds extra spacing on the left side */
  } 

  .dashboard-card-content {
    justify-content: center
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  th, td{
    padding-left: 30px;
    padding-right: 30px;
  }
