
<p>reservations works! lala</p>



      <mat-card class="example-card" appearance="outlined">
        <div class="custom-container">
          <img mat-card-lg-image 
               src="https://di-uploads-pod2.s3.amazonaws.com/gillchevy/uploads/2015/07/2015-Chevy-Spark.jpg" 
               class="custom-img">
          
          <div class="custom-text-content">
            <mat-card-title>Chevrolet Spark</mat-card-title>
            <mat-card-subtitle>Natalia Biernacka</mat-card-subtitle>
            <mat-card-content style="text-align: center;">
              <br/>
              jakas data od
              jakas data do
            </mat-card-content>
            <mat-card-actions class="custom-actions">
                <div class="example-button-container">
                    <button mat-fab extended class="custom-button" (click)="openDialog()">
                      Cancel
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>

      <br/>

      
      <mat-card class="example-card" appearance="outlined">
        <div class="custom-container">
          <img mat-card-lg-image 
               src="https://images.hgmsites.net/lrg/2015-volkswagen-golf-4-door-hb-auto-tsi-sel-angular-front-exterior-view_100504949_l.jpg" 
               class="custom-img">
          
          <div class="custom-text-content">
            <mat-card-title>Volkswagen Golf</mat-card-title>
            <mat-card-subtitle>Michał Kopański</mat-card-subtitle>
            <mat-card-content>
                <br>
              longText
              <br>
              long text
            </mat-card-content>
            <mat-card-actions class="custom-actions">
              <div class="example-button-container">
                  <button mat-fab extended class="custom-button" (click)="openDialog()">
                    Cancel
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
          </mat-card-actions>
          </div>
        </div>
      </mat-card>

      <br/>


      <mat-card class="example-card" appearance="outlined">
        <div class="custom-container">
          <img mat-card-lg-image 
               src="https://www.agauto.sk/image//RID/RIDER_ART02548_F-32.jpg" 
               class="custom-img">
          
          <div class="custom-text-content">
            <mat-card-title>Kia Sportage</mat-card-title>
            <mat-card-subtitle>Jan Kowalski</mat-card-subtitle>
            <mat-card-content>
                <br>
              longText
            </mat-card-content>
            <mat-card-actions class="custom-actions">
              <div class="example-button-container">
                  <button mat-fab extended class="custom-button" (click)="openDialog()">
                    Cancel
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
          </mat-card-actions>
          </div>
        </div>
      </mat-card>

      <br/>