.containter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* or space-around/space-between as you like */
  width: 100vw;
  padding: 16px;
  box-sizing: border-box;
  gap: 20px; /* space between cards */
}

.date-picker{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* or space-around/space-between as you like */
  width: 100vw;
  padding: 16px;
  box-sizing: border-box;
  gap: 20px; /* space between cards */
}