.car-edit-card {
    max-width: 400px;
  }

.car-image {
    padding: 16px;
  }

.car-edit-form {
    min-width: 150px;
    //max-width: 500px;
    padding-left: 16px;
    padding-right: 16px;
    width: max;
  }

.car-price-input {
    min-width: 150px;
    //max-width: 500px;
    width: 100%;
}

.submit-changes-footer {
    min-width: 150px;
    //max-width: 500px;
    padding: 16px;
    padding-top: 0px;
    width: max;
  }

.submit-button {
    min-width: 150px;
    //max-width: 500px;
    width: 100%;
}

  