<mat-card class="car-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="car-avatar">
        <img [src]="car.picture" [alt]="car.name + ' avatar'">
      </div>
      <mat-card-title>{{car.category}}</mat-card-title>
      <mat-card-subtitle>{{car.name}} or similar</mat-card-subtitle>
    </mat-card-header>
    
    <div class="car-image-container">
      <img class="car-image" [src]="car.picture" [alt]="car.name">
    </div>
    
    <mat-card-content>
      <ul class="features">
        <li>✅ <strong>{{car.pricePerDay}}€/day</strong></li>
        <li>✅ <strong>Unlimited mileage</strong></li>
        <li>✅ <strong>Full protection included</strong></li>
        @if (car.category=='Premium') {
        <li>✅ <strong>Minimum Age 25</strong></li>  
        }
        @else {<li>✅ <strong>Minimum Age 21</strong></li>}  
      </ul>
    </mat-card-content>
    @if (showRentButton){
    <mat-card-actions>
      <button mat-button color="primary" (click)="onRentClick(car.id)">RENT</button>
      @if (showEditButton){
        <mat-card-actions>
          <button mat-button color="primary" (click)="editCar(car.id)">EDIT</button>
        </mat-card-actions>}
    </mat-card-actions>}

    @if (rentScreen){
      <mat-card-actions>
      <button mat-button color="primary" (click)="onReservationClick()">RENT</button>
      @if (showEditButton){
        <mat-card-actions>
          <button mat-button color="primary" (click)="editCar(car.id)">EDIT</button>
        </mat-card-actions>}
      </mat-card-actions>}

  </mat-card>